<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag "application", media: "all",
                                           "data-turbolinks-track" => true %>
    <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  
<body>
<%= render 'layouts/header' %>
    <div class="container">
<h1><%= yield(:persianname) %></h1>
<h1><%= yield(:englishname) %></h1>

<img src= "<%= yield(:image) %>" alt="Mountain View" style="width:600px;height:300px">

<p  align="right">
<%= yield(:content) %>
</p>
<p  align="right">
<a href=<%= yield(:link1) %>> <%= yield(:link1name) %> </a>
</p>
<p  align="right">
<a href=<%= yield(:link2) %>> <%= yield(:link2name) %> </a>
</p>
<p  align="right">
<a href=<%= yield(:link3) %>> <%= yield(:link3name) %> </a>
</p>

<p  align="center">
<a href=<%= yield(:next) %>> یا لیتنا کنا معه، توفیق زیارت شهید بعدی </a>
</p>

      <%= render 'layouts/footer' %>
       </div>
   
  </body>
</html>
