
<!DOCTYPE html>
<html>
<head>
<title><%= full_title(yield(:title)) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  		<meta charset="utf-8">
</head>
<body>

<div id="header">
<h1><%= yield(:persianname) %></h1>
<h1><%= yield(:englishname) %></h1>
</div>

<div id="nav">

<img src= "<%= yield(:image) %>" alt="Mountain View" style="width:600px;height:300px">
</div>

<div id="section">
<p  align="right">
<%= yield(:content) %>
</p>
<p  align="right">
<a href=<%= yield(:link1) %>> <%= yield(:link1name) %> </a>
</p>
<p  align="right">
<a href=<%= yield(:link2) %>> <%= yield(:link2name) %> </a>
</p>
<p  align="right">
<a href=<%= yield(:link3) %>> <%= yield(:link3name) %> </a>
</p>

<p  align="center">
<a href=<%= yield(:next) %>> یا لیتنا کنا معه، توفیق زیارت شهید بعدی </a>
</p>
</div>

</body>
</html>
